<body class="background-black-gradient">

  <div class="banner">
    <div class="container">
      <div class="d-flex flex-column">
        <h1>Seamless Aerial Solutions.</h1>
        <%# <p>Explore the skies effortlessly</p> %>
      </div>
    </div>
  </div>

  <h1>All Drones</h1>

  <div class="container">
    <div class="row">
      <% @drones.each do |drone| %>
        <div class="col-3 my-2">
          <%= link_to(drone_path(drone)) do %>
           <div class="d-flex flex-column h-100 rounded-4 bg-dark bg-opacity-50 text-secondary p-2">
             <div class="h-50">
                   <%# <% if drone.photo.attached? %>
                   <%# <%= cl_image_tag drone.photo.key, crop: :fill %>
                   <%# <% else %>
                   <img src="https://dji-official-fe.djicdn.com/cms/uploads/ae5d8b9987be8d5ecdeb5d502a1e887c.png" alt="<%= drone.model %>" class="w-100">
                   <%# <% end %>
             </div>
             <div><h2><%= drone.model %></h2></div>
             <div class="d-flex flex-grow-1 align-content-between flex-wrap">
               <p><%= drone.description %></p>
               <p><%= drone.price %>0 €/day</p>
               <!-- Add more drone details here -->
             </div>
           </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</body>
