<body class="background-black-gradient">

  <div class="banner">
    <div class="container">
      <div class="d-flex flex-column">
        <h1>Seamless Aerial Solutions.</h1>
        <%# <p>Explore the skies effortlessly</p> %>
      </div>
    </div>
  </div>

  <div class="container  search">
    <div class="row justify-content-center">
      <div class="col-sm-8 mt-2">
        <%= form_with(method: :get, class: "d-flex") do |form| %>
            <div class="input-group">
              <%= select_tag :category,
                    options_for_select(Drone.distinct.pluck(:category).compact, params[:category]),
                    include_blank: "Category",
                    class: "form-control"
                %>
            </div>
            <div class="input-group">
              <%= text_field_tag :min_price,
                    params[:min_price],
                    placeholder: "Min Price",
                    class: "form-control"
                %>
            </div>
            <div class="input-group">
              <%= text_field_tag :max_price,
                    params[:max_price],
                    placeholder: "Max Price",
                    class: "form-control"
                %>
            </div>
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">
                <img src="<%= asset_path('search.svg') %>" alt="Search">
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @drones.each do |drone| %>
        <div class="col-3 my-2">
          <%= link_to(drone_path(drone)) do %>
           <div class="d-flex flex-column h-100 rounded-4 bg-dark bg-opacity-50 text-secondary p-3">
             <div class="h-50">
                   <%# <% if drone.photo.attached? %>
                   <%# <%= cl_image_tag drone.photo.key, crop: :fill %>
                   <%# <% else %>
                   <img src="https://dji-official-fe.djicdn.com/cms/uploads/ae5d8b9987be8d5ecdeb5d502a1e887c.png" alt="<%= drone.model %>" class="w-100">
                   <%# <% end %>
             </div>
             <div><h2 class="card-title"><%= drone.model %></h2></div>
             <div class="d-flex flex-column flex-grow-1 align-content-between flex-wrap">
               <p><%= drone.description %></p>
               <p class="mt-auto"><%= drone.price %>0 €/day</p>
               <!-- Add more drone details here -->
             </div>
           </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</body>
