<div class="background-black-gradient h-100 d-flex align-objects-center">
  <div class="container d-flex flex-column rounded-4 bg-dark bg-opacity-50 text-secondary p-2 my-5">
    <div class="d-flex flex-row text-secondary p-3">

      <div class="col-6 my-auto">
                   <% if @drone.photo.attached? %>
                     <%= cl_image_tag drone.photo.key, crop: :fill, class: "rounded-4 w-100 h-100" %>
                   <% else %>
                     <img src="https://dji-official-fe.djicdn.com/cms/uploads/ae5d8b9987be8d5ecdeb5d502a1e887c.png" alt="<%= @drone.model %>" class="w-100">
                   <% end %>
      </div>

      <div class="card col-6 text-white bg-dark bg-opacity-50 p-2">
        <div class="card-body d-flex flex-column text-start">
          <h1>Add a new drone</h1>
          <%= simple_form_for [@user, @drone], defaults: {label: false}, html: { class: "flex-grow-1 text-secondary"} do |f| %>
            <div class="h-100 d-flex flex-column">
              <div>
                <div class="my-2"><%= f.label :brand, "BRAND:" %></div>
                <%= f.input :brand, input_html: { placeholder: "DJI", style: 'background-color: #292929; color: #ffffff;' } %>
                <div class="my-2"><%= f.label :model, "MODEL:" %></div>
                <%= f.input :model, input_html: { placeholder: "Nimbus 3000", style: 'background-color: #292929; color: #ffffff;' }  %>
                <div class="my-2"><%= f.label :price, "PRICE PER DAY:" %></div>
                <%= f.input :price, input_html: { placeholder: "30 €", style: 'background-color: #292929; color: #ffffff;' } %>
                <div class="my-2"><%= f.label :time_in_air, "TIME IN AIR:" %></div>
                <%= f.input :time_in_air, input_html: { placeholder: "45 min", style: 'background-color: #292929; color: #ffffff;' }  %>
                <div class="my-2"><%= f.label :description, "DESCRIPTION:" %></div>
                <%= f.input :description, input_html: { placeholder: "Fast drone with great camera capabilities", style: 'background-color: #292929; color: #ffffff;' }  %>
                <div class="my-2"><%= f.label :weight, "WEIGHT:" %></div>
                <%= f.input :weight, input_html: { placeholder: "450 g", style: 'background-color: #292929; color: #ffffff;' }  %>
                <div class="my-2"><%= f.label :category, "CATEGORY:" %></div>
                <%= f.input :category, collection: Drone::CATEGORY, input_html: { class: 'btn rounded-5 text-light text-start', style: 'background-color: #292929; height: 50px; color: #ffffff;' } %>
                <div class="my-2"><%= f.label :photo, "IMG:" %></div>
                <%= f.input :photo, as: :file, input_html: {placeholder: "Your File"}   %>
              </div>
              <div class="mt-auto">
                <%= f.submit 'Add', class: "btn w-100 rounded-5 btn-light p-2 mt-3", input_html: { style: 'height: 50px;' } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
