<div class="container-fluid background-black-gradient text-light">
  <div class="navbar justify-content-between">
    <div class="d-flex flex-row">
      <a href="">
        <img class="navbar-brand" src="https://st3.depositphotos.com/27269280/36592/v/450/depositphotos_365929444-stock-illustration-drone-logo-concept-design-arial.jpg" alt="Drone logo" height="70px">
        <a class="align-self-center navbar-link">Sky High</a>
      </a>
    </div>
    <div class="links mx-4">
      <a href="#" class="navbar-link">All Drones</a>
      <a href="#" class="navbar-link">Contact</a>
      <a href="#" class="navbar-link">Log In</a>
    </div>
  </div>

  <div class="banner">
    <div class="container">
      <div class="d-flex flex-column">
        <h1>Dashboard</h1>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <% @all_drones_grouped_by_user.each do |user, drones| %>
        <div class="col mb-4">
          <div class="card bg-dark text-light">
            <div class="card-body">
              <h5 class="card-title">User: <%= user.first_name %> <%= user.last_name %></h5>
              <p class="card-text">
                <strong>Model:</strong> <%= drones.first.model %><br>
                <strong>Description:</strong> <%= drones.first.description %><br>
                <strong>Category:</strong> <%= drones.first.category %><br>
                <strong>Price:</strong> <%= drones.first.price %><br>
                <strong>Time in Air:</strong> <%= drones.first.time_in_air %><br>
                <strong>Weight:</strong> <%= drones.first.weight %><br>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
