<body class="background-black-gradient">
<div class="container d-flex flex-column h-100 rounded-4 bg-dark bg-opacity-50 text-secondary p-2">
<div class="my-2">
    <h2><%= @drone.model %></h2>

    <div class="d-flex flex-column h-100 rounded-4 bg-dark bg-opacity-50 text-secondary p-2">
       <div class="h-50">
          <img src="https://dji-official-fe.djicdn.com/cms/uploads/ae5d8b9987be8d5ecdeb5d502a1e887c.png" alt="Drone Picture" class="w-100">
        </div>
    <p>Brand: <%= @drone.brand %></p>
    <p>Discription: <%= @drone.description %></p>
    <p>Price: <%= @drone.price %>€ p/day</p>
    <p>Flying Time: <%= @drone.time_in_air %> min</p>
    <p>Weight: <%= @drone.weight %> g</p>
    <p>Category: <%= @drone.category %></p>

    <div class="d-flex flex-column mb-3">
    <div class="p-2"><%= link_to 'Home', root_path %></div>
    <div class="p-2"><%= link_to 'Book', root_path %></div>
    </div>

  </div>

</div>


</div>
</body>
