<div class="background-black-gradient">
  <div class="navbar justify-content-between">
    <div class="d-flex flex-row">
      <a href="">
        <img class="navbar-brand" src="https://st3.depositphotos.com/27269280/36592/v/450/depositphotos_365929444-stock-illustration-drone-logo-concept-design-arial.jpg" alt="Drone logo" height="70px">
        <a class="align-self-center navbar-link">Sky High</a>
      </a>
    </div>
    <div class="links mx-4">
      <a href="#" class="navbar-link">All Drones</a>
      <a href="#" class="navbar-link">Contact</a>
      <a href="#" class="navbar-link">Log In</a>
    </div>
  </div>

  <div class="banner">
    <div class="container">
      <div class="d-flex flex-column">
        <h1>Dashboard</h1>
      </div>
    </div>
  </div>

 <div class="container pt-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
    <% @all_drones_grouped_by_user.each do |user, drones| %>
      <% drones.each do |drone| %>
        <div class="col mb-4">
          <div class="card h-100 rounded-4 bg-dark bg-opacity-50 text-secondary p-2">
            <div class="card-body">
              <h5 class="card-title">User: <%= user.first_name %> <%= user.last_name %></h5>
              <div class="card-text">
                <strong>Model:</strong> <%= drone.model %><br>
                <strong>Description:</strong> <%= drone.description %><br>
                <strong>Category:</strong> <%= drone.category %><br>
                <strong>Price:</strong> <%= drone.price %><br>
                <strong>Time in Air:</strong> <%= drone.time_in_air %><br>
                <strong>Weight:</strong> <%= drone.weight %><br>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

</div>
