<body class="background-black-gradient">
  <div class="container">
    <h2 class="text-center mb-5">My Dashboard</h2>

    <!-- MY BOOKINGS -->
    <div class="mb-5">
      <h4 class="py-2 text-light">Upcoming Bookings</h4>
      <div class="row bg-dark rounded-4">
        <% @my_bookings.to_a.sort!{ |a, b| a.from_date <=> b.from_date }.each do |booking| %>
          <div class="col-3 mt-2">
            <div class="card h-100 rounded-4 text-secondary bg-dark border-0">
              <div class="card-body">
                <div class="bg-secondary bg-opacity-50 rounded-4 mb-3 h-50">
                   <% if booking.drone.photo.attached? %>
                     <%= cl_image_tag booking.drone.photo.key, crop: :fill, class: "rounded-4 w-100 h-100" %>
                   <% else %>
                     <img src="https://dji-official-fe.djicdn.com/cms/uploads/ae5d8b9987be8d5ecdeb5d502a1e887c.png" alt="<%= booking.drone.model %>" class="w-100">
                   <% end %>
                </div>
                <h5 class="card-title"><%= booking.drone.model %></h5>
                <div class="card-text">
                  <div><strong>From: </strong> <%= booking.from_date.strftime('%Y-%m-%d') %></div>
                  <div><strong>To: </strong><%= booking.to_date.strftime('%Y-%m-%d') %></div>
                  <div class="pt-2 mb-2"><%=
                    if booking.accepted
                      "Confirmed"
                    else
                      "Waiting for confirmation"
                    end
                  %></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <% if @my_bookings.empty? %>
          <div class="col-3 mt-2">
            <div class="card rounded-4 text-secondary bg-dark border-0 mb-0">
              <div class="card-body m-0 px-2 pb-0 pt-2">
                <div class="bg-secondary bg-opacity-25 rounded-4 mb-3">
                  <div style="height: 275px;" class="d-flex justify-content-center align-items-center">
                    <div class="">No bookings yet</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <!-- MY BOOKINGS -->

    <!-- BOOKING REQUESTS -->
    <div class="mb-5">
      <h4 class="py-2 text-light">Bookings for my Drones</h4>
      <div class="row bg-dark p-0 rounded-4">

        <% @my_requests.to_a.sort!{ |a, b| a.from_date <=> b.from_date }.each do |booking|%>
          <div class="col-3 my-2">
            <div class="card-body m-0 px-2 pb-0 pt-2 h-100 rounded-4 text-secondary bg-dark border-0">
              <div class="card-body">
                <div class="bg-secondary bg-opacity-50 rounded-4 mb-3 h-75">
                   <% if booking.drone.photo.attached? %>
                     <%= cl_image_tag booking.drone.photo.key, crop: :fill, class: "rounded-4 w-100 h-100" %>
                   <% else %>
                     <img src="https://dji-official-fe.djicdn.com/cms/uploads/ae5d8b9987be8d5ecdeb5d502a1e887c.png" alt="<%= drone.model %>" class="w-100">
                   <% end %>
                </div>
                <h5 class="card-title"><%= booking.drone.model %></h5>
                <div class="card-text d-flex flex-column">
                  <div><strong>Request from: </strong> <%= booking.user.first_name %> <%= booking.user.last_name %></div>
                  <div><strong>From: </strong> <%= booking.from_date.strftime('%Y-%m-%d') %></div>
                  <div><strong>To: </strong><%= booking.to_date.strftime('%Y-%m-%d') %></div>
                </div>
                <p>
                Total: <%= ((booking.to_date.to_date - booking.from_date.to_date).to_i * booking.drone.price) %> EUR
                <div class="d-flex flex-row">
                  <% if booking.accepted%>
                    <%= link_to booking_path(booking), data: {turbo_method: :delete} do %>
                      <div class="text-danger">Cancel Booking</div>
                    <% end %>
                  <% else %>
                    <%= link_to booking_path(booking, accepted: true), data: {turbo_method: :patch} do %>
                      <div class="text-success">Accept</div>
                    <% end %>
                    <%= link_to booking_path(booking), data: {turbo_method: :delete} do %>
                      <div class="text-danger mx-2">Decline</div>
                    <% end %>
                  <% end %>
                </div>
              </p>
              </div>
            </div>
          </div>
        <% end%>

        <% if @my_requests.empty? %>
          <div class="col-3 mt-2">
            <div class="card rounded-4 text-secondary bg-dark border-0 mb-0">
              <div class="card-body m-0 px-2 pb-0 pt-2">
                <div class="bg-secondary bg-opacity-25 rounded-4 mb-3">
                  <div style="height: 275px;" class="d-flex justify-content-center align-items-center">
                    <div class="">No drones booked</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <!-- BOOKING REQUESTS -->

    <!-- MY DRONES -->
    <div class="mb-5">
      <h4 class="py-2 text-light">My Drones</h4>

      <div class="row bg-dark rounded-4">
        <% @my_drones.each do |drone| %>
          <div class="col-3 my-2">
            <div class="card h-100 rounded-4 text-secondary bg-dark border-0">
              <div class="card-body">
                <div class="bg-secondary bg-opacity-50 rounded-4 mb-3 h-75">
                   <% if drone.photo.attached? %>
                     <%= cl_image_tag drone.photo.key, crop: :fill, class: "rounded-4 w-100 h-100" %>
                   <% else %>
                     <img src="https://res.cloudinary.com/dmlxmpwua/image/upload/v1706870994/Drone_5_suu3hb.jpg" alt="<%= drone.model %>" class="w-100">
                   <% end %>
                </div>
                <h5 class="card-title"><%= drone.model %></h5>
                <div class="card-text">
                  <%= drone.brand %><br>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="col-3 my-2">
          <div class="card rounded-4 text-secondary bg-dark border-0">
            <div class="card-body m-0 px-2 pb-0 pt-2">
              <div class="bg-secondary bg-opacity-25 rounded-4">
                <%= link_to new_drone_path do %>
                  <div style="height: 295px;" class="d-flex justify-content-center align-items-center">
                    <div class="display-1">+</div>
                  </div>
                <% end %>
              </div>
            </div>
                <h5 class="card-title py-0 px-2 mx-0 mt-3 mb-2">Add a new drone</h5>
          </div>
        </div>

      </div>
    </div>
    <!-- MY DRONES -->

  </div>
</body>
